           <!--<div class="ui small warning message">
               <i class="announcement close icon"></i>
               <div class="header">
                  Announcement
               </div>
               <p>Mangadex was having data breach yesterday and you might want to take a look to it. Our account is safe and this site is working normally.
             <br>For more information, here is <a href="https://mangadex.org/thread/446243" target="_blank">Mangadex Official Announcement</a>.</p>
            </div>-->