
           <!--<div class="ui tiny info message">
               <i class="announcement close icon"></i>
               <div class="header">
                  New Feature
               </div>
               <p>If you are familiar with Mangadex translation group, now you can choose to receive update from certain group from each manga.
             <br>How: Click <b>Advanced Option</b> label under last update label and choose the group.</p>
            </div>-->