      <div class="ui left inverted vertical menu sidebar">
         <div class="item">
            <div class="header">Features</div>
            <div class="menu">
               <a class="item" href="/dex">
               <i class="book icon"></i>
               Mangadex Update Notifier
               </a>
            </div>
         </div>
         <div class="item">
            <div class="header">User</div>
            <div class="menu">
               <a class="item" href="/logout">
               <i class="sign-out icon"></i>
               Logout
               </a>
            </div>
         </div>
      </div>
      <div class="ui fixed inverted menu">
         <div class="ui container">
            <a class="item" onclick="$('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');">
            <i class="sidebar icon"></i>
            </a>
            <a href="/" class="header item">
            <img
               class="logo"
               src="https://mangadex.org/favicon-192x192.png?1"
               />
            Mangadex Updater for LINE
            </a>
            <!--<a href="/" class="item">Home</a>-->
         </div>
      </div>