<div class="ui basic modal" id="maxinfo">
         <div class="ui icon header">
            <i class="ban icon"></i>
            Only allowed <%= limit %> titles per-user!
         </div>
         <div class="actions">
            <div class="ui red basic cancel inverted button">
               <i class="remove icon"></i>
               Close
            </div>
         </div>
      </div>
      <div class="ui basic modal" id="folunfolerr">
         <div class="ui icon header">
            <i class="times circle icon"></i>
            <span id="folunfolres"></span>
         </div>
         <div class="actions">
            <div class="ui red basic cancel inverted button">
               <i class="remove icon"></i>
               Close
            </div>
         </div>
      </div>